.hero-image {
    height: 60%;
    width: 50%;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.hero-text {
    max-height: 100%;
    max-width: 50%;
    background-color: red;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

p {
    max-height: 100%;
    max-width: 100%;
    font-size: 4em;
    margin: 10px;
    text-align: center;
    color: white;
}
